@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;700&display=swap');

:root {
    --main-color: #457B9D;
    --white: #fff;
    --black: #000;
}

body{
  font-family: 'Kanit', sans-serif;
}

.container{
    padding: 20px;
}
.background-main{
    background-color: var(--main-color);
}
.background-register{
    background: url('@/assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background-white{
    background-color: var(--white);
}
.background-transparent{
  background-color: rgba(0,0,0,0);
}
.child-center{
    margin: auto;
    display: block;
}
.verticle-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

/* THSPP */
.thspp-button {
  height: 60px;
  width: 240px;
  border-radius: 30px;
  background-color: #1D3557;
  color: #fff;
  font-size: 35px;
}
.thspp-button-white{
  box-sizing: border-box;
  height: 62px;
  width: 138px;
  border-radius: 30px;
  border: 1px solid #FFF;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  color: #fff;
  display: block;
  margin: auto;
  font-weight: bold;
}
.thspp-button:focus, .thspp-button-white:focus {
  outline: none;
  box-shadow: none;
}

/* Padding */
.p-1{
  padding: 1rem;
}
.pt-1{
  padding-top: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
.pr-1{
  padding-right: 1rem;
}

/* Margin */
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mb-0 {
  margin-bottom: 0rem;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-4{
  margin-bottom: 4rem;
}
.mb-5{
  margin-bottom: 5rem;
}
.ml-1{
  margin-left: 1rem;
}

/* Image */
.img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.img-rounded{
    border-radius: 50%;
}

/* SIZE */
.size-50-50{
    width: 50px;
    height: 50px;
}
.size-100-100{
    width: 100px;
    height: 100px;
}
.size-150-150{
    width: 150px;
    height: 150px;
}

/*Text*/
.text-black{
  color: var(--black);
}
.text-white{
    color: var(--white);
}
.text-red{
    color: red;
}
.text-main{
    color: var(--main-color);
}
.text-left{
    text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
    text-align: center;
}
.font-header{
    font-size: 30px;
    font-weight: bold;
}
.text-large{
  font-size: 25px;
}
.text-small{
  font-size: 11px;
}

/* Shaping */
.rounded-m{
    border-radius: 25px;
}
.rounded-bottom-m{
    border-radius: 0px 0px 25px 25px;
}
.rounded-top-m{
    border-radius: 25px 25px 0px 0px;
}

/* Shadow */
.shadow{
  box-shadow: 0 20px 60px 0 rgb(50 50 50 / 55%);
}

/* Position */
.float-right{
  float: right;
}

/* Animation */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.delay-enter,
.delay-leave-to{
  transition: none 2s;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}